body{
  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
.tagContainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
.addTagElement{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 17em;
  margin-bottom: 0.5em;
  max-width: 100%;
}
.myTagInput{

}
.tagElement{
  margin-left: 1em;
  background-color: #8DC89C;
  display: inline-block;
  border-radius: 2em;
  padding-left: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #E6E6E8;
}
#welcomeMessage{
  padding: 0.2em;
  font-size: 2em;
  color: #fdfdfd;
  font-weight: lighter;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 97%;
  text-shadow: 0px -1px 1px #fdfdfd;
}
.topNav{
  
}
/*
.topNav>span{
  padding: 0.2em;
  font-size: 1.6em;
  color: #5C4B51;
  float: left;
  margin-left: 1em;
}*/
.indexRoundButton{
  background-color: #eee;
  border: solid #DEDAF5 1px;
  cursor:pointer;
  margin-left: 0.5em;
  border-radius: 2em;
}

#plusButton,#proceed{
  margin-left: -2em;
  background-color: #3DA1CC;
  color: #fdfdfd;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-weight: bold;
}
#proceed{
  margin-left: 0;
  border-radius: 2em;
}
button:hover{
  background-color: #FFFFFF;
  border: solid  #E6E6E8 1px;
}
#plusButton:hover,#proceed:hover{
  background-color: #4Db1dE;
  border: solid  #E6E6E8 1px;
}
input{
  border: solid #E6E6E8 1px;
  border-radius: 2em;
  max-width: 10em;
  width: 55%;
}
input:focus{
  background-color: #f6f6f6;
}
input[name=tag]{
  font-size: 1.1em;
}
input:focus,button:focus{
  outline: none;
  box-shadow: 0px 0px 0px #61C5FA;
}
footer{
  padding: 1em;
  /*margin-top: 12em;*/
  text-align: center;
}
#interests{
  text-align: center;
}
#existingTagContainer{
  height: 16em;
  overflow-y: hidden;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-top: solid 2px #E6E6E8;
  border-bottom:none;
  margin-top: 1em;
}
.threadContainer > .tagContainer{
  width: 95%;
  float: left;
  margin-left: 4%;
}