body{
	font-family: "Helvetica Neue",Arial,sans-serif;
	margin:0;
	padding:0;
	background-color: #f0f0f0;
	color:#1E2128;
	background-size: 300px;
	background-repeat: repeat-x;
}
.hiddenText:hover{
	background-color: rgba(0,0,0,0);
}
.linedText{
	text-decoration: line-through;
}
.answer{
	color: #f66;
}
.quot{
	color: #41A38B;
}
a{
	/*color:#3DA1CC;*/

}
.topNavWrap{
	background-color: #fcfcfc;
	border: 1px solid #e6e6e6;
	border-bottom-width: 5px;
	z-index: 5;
	position: fixed;
	left:0;
	right: 0;
}
.topNav{
	overflow: visible;
	padding-right: 1em;
	width: 841px;
	margin-left: auto;
	margin-right: auto;
}

.topNav > a, .topNav > a:visited,.topNav > a:active,.topNav > button{
	color:#ccc;
	display: inline-block;
	padding: 0.875em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	float: right;
	font-weight: bold;
	font-size: 0.9em;
	border-top: 2px solid rgba(0,0,0,0);
	margin-left: 1em;
}

.topNav > a:hover {
	text-decoration:none;
	cursor:pointer;
	color: #666;
	border-top-color: #9F4159;
}
button,input,textarea{
	border: solid 1px #ccc;
	background-color: #efefef;
	position: relative;
	display: inline-block;
	padding: 4px 10px;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
	background-repeat: no-repeat;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
button:not(:disabled):hover,input:hover{
	color:#41A38B;
}
button:focus,input:focus,textarea:focus{
	outline-color:#41A38B;
}
.hiddenText{
	background-color: #1E2128;
	color:#1E2128 !important;
}
.important{
	background-color: #8CBEB2;
	border-bottom: #8CBEB2 1px solid;
}
.active{
	color:#1E2128;
}
.importantButton{
	background-color: #ABD6C3;
}

.metaContainer,.threadsFooter,.threadFooter,.threadOutterContainer,.container,.popularTagsContainer{
/*	background-color: #fefefe;*/
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	width: 837px;
	border-style:solid;
	border-color:#e6e6e6;
	border-width: 0;
/*	border-right-width: 1px;
	border-left-width: 1px;*/
	position: relative;
	padding-top: 42px;
}
.container{
	background-color: #fcfcfc;
	border-style:solid;
	border-color:#e6e6e6;
	border-width: 0 1px;
}
.threadOutterContainer > .metaContainer{
	padding-top: 0;
}
.transparent{
	background-color: rgba(0,0,0,0);
}
.threadFooter,.threadsFooter{
text-align: center;
padding: 1em;
z-index: 5;
position: relative;
border-top-width: 0;
}
.threadFooter>button,.threadsFooter>button{
float: right;
margin-right: 246px;
}
.threadFooter,.fullThread{
	width: 532px;
}

.container >h1, .container>p,.container>h3{
	margin-left: 5em;
	margin-right: 5em;
}
.threadContainer,.sideBar{
	overflow: auto;
	width: 275px;
	margin-top: 1em;
	float: left;
}
.sideBar{
	margin-top: 0;
	margin-bottom: 1em;
	border-bottom-width: 3px;
	border-bottom-color: #41A38B;
}
.sideBar>div{
	border-radius: 6px;
	margin-bottom: 1em;
}

.post,.formContainer,.answersToContainer>div,.answersFromContainer>div,.expandedPost,.popularTagsPanel,.linksPanel{
	background-color: #fcfcfc;
	margin-left: 1em;
	margin-right: 1em;
	padding: 1em;
	margin-bottom: 0em;
	overflow:auto;
	border: 1px solid #e6e6e6;
	border-top-width: 0px;
	border-radius: 0em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.expandedPost > .post{
	margin: 0;
}
.formContainer{
	border-radius:6px; 
	padding:1em;
}
.newThread,.popularTagsPanel,.linksPanel{
	margin-right: 0;
	border-top-width: 1px;
}	
.post+.formContainer{
	border-bottom-right-radius:0;
	border-bottom-left-radius: 0; 
}
.threadOpPost{
	background-color: #fcfcfc;
	width: 95%;
	float: left;
	margin-left: 4%;
	padding: 0;
	margin-bottom: 4%;
	border-radius:0.3em;
	border: 1px solid #e6e6e6;
	border-bottom-width: 3px;
	text-decoration: none;
	position: relative;
}
.threadOpPost:visited,.threadOpPost:active,.threadOpPost:hover,.threadOpPost:link{
	color:#1E2128;
	text-decoration: none;
}
.threadOpPost:hover{
	background-color: #f6f6f6;
}
.threadOpPost > div > p{
	margin: 1em;
	margin-top: 0;
	padding: 0;
	cursor:pointer;
	color:#1E2128;
}
.threadOpPost > div > p > .postAnswersNumber{
	margin-right: 1em;
	margin-bottom: 0.5em;
	font-weight: bold;
	color:#ccc;
}
.post > p{
	margin: 1em;
	-webkit-touch-callout: initial;
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
	cursor:;F
}

.threadImage{
	width: 100%;
	margin: 1em 0;
	/*float: left;*/
	height: 10em;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom:#dfdfdf solid 1px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
	background-repeat: no-repeat;
}
.postImage{
	width: 100%;
	max-height: 100%;
	border-radius:6px;
	/*float: left;*/
	margin: 1.5em 0;
	margin-right: 1em;
	border: solid #ddd 1px;
	height: 10em;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
	background-repeat: no-repeat;

}
.embedded-video{
	width: 85%;
	max-height: 100%;
	border-radius: 0.3em;
	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: 7%;
	margin-right: 7%;
	border: 0;
}
.fullSizeImage{
	width: initial;
	max-width: 100%;
	height: initial;
	max-height: 100%;
}
.postAnswersNumber{
	cursor: pointer;
	float: right;
	color: #6ff;
	margin-right: 1em;
}
.postAnswerLink{
	float: left;
	margin-left:1em;
}
#answerForm, .newThreadForm{
	position: relative;
}
.newThreadForm{

}
#answerForm> textarea{
	height: 3.5em;
	overflow: hidden;
}
#answerForm > button, .newThreadForm> button{
	float: right;
}
textarea {
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	border: solid #e6e6e6 1px;
	border-radius: 6px;
	margin-bottom: 1em;
	padding: 0.5em;
	background-color: #eee;
	height: 10.5em;
	overflow: auto;
}
input[type=file]{
	opacity:0;
	position:absolute;
	z-index:2;
	width:2em;
	height: 2em;
}
.fileUpload{
	display: inline-block;
	position: relative;
	height: 2em;
	width: 2.5em;
	margin-left: 1em;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
button[type=submit]{
	float: right;
	border-color: #41A38B;
	font-weight: bold;
}
.sage{
	margin-left: 4em;
	position: relative;
	height: 1.75em;
	float:left;
}
.sage:before{
	content: "Sage: ";
	position: absolute;
	right: 1em;
}
.fileUpload>button{
	position:absolute;
}

.postAnswers{
	display: none;
	margin: 1em;
}

.postId{
	cursor: pointer;
	float: right;
	color: #f66;
	margin-right: 1em;
}

.previousPage, .backToThreads{
	color:#fff;
	text-shadow: #666 0px 0px 1px;
	position: fixed;
	left: 0;
	top:0;
	bottom:0;
	font-size: 3em;
	text-align: center;
	text-decoration: none;
	padding-top: 0.5em;
}
.backToThreads>span{
	height: 100%;
	width: 1.5em;
	position: absolute;
	left: 0;
	padding-top: 2em;
}

#logo>a>img{
	margin: 0.1em;
	height: 38px;
	margin-left: 1em;
}
.currentPage{
	background-color: #46A891;
}
.markupButton{
	float: right;
}
.buttonPanel{
	float:left;
}
.buttonPanel > button {
	border-radius: 0;
	display: inline-block;
	border-left-width:0; 
}
.buttonPanel>button:first-child{
	border-top-right-radius:3px; 
	border-bottom-right-radius: 3px;
}
.buttonPanel>button:last-child{
	border-left-width:1px; 
	border-top-left-radius:3px; 
	border-bottom-left-radius: 3px;
}


.timestamp,.timestamp:hover{
	float:right;
	margin-right: 1em;
	color: #888;
	cursor: default;
	text-decoration: none;
}
#update:hover{
	cursor: pointer;
}
.preview{
	position: absolute;
	width: inherit;
	color:#1E2128;
	overflow: initial;
	border: 1px solid #bbb;
	border-bottom-width: 2px;
	z-index: 2;
}
.searchElement{
	display: inline-block;
	padding: 0.5em;
	/*float: right;*/
	font-size: 0.8em;
	margin-left: 1em;
}
.searchElement>input{
	border: solid #eee 1px;
	border-radius: 2em;
	width: 10em;
	margin-left: 2em;
	padding: 3px;
	padding-left: 1em;
	padding-right: 2em;
	background-color: #eee;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.searchElement>input:focus,textarea:focus{
	background-color: #fcfcfc; 
}
.searchElement > button{
	margin-left: -2em;
	background-color: #9F4159;
	color: #fdfdfd;
	border-width: 0px;
	border-radius: 1em;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.searchElement > button:hover{
	background-color: #CFA1AD;
}
input:focus,button:focus{
	outline: none;
	box-shadow: 0px 0px 0px #61C5FA;
}
.attachmentContainer{
	margin-top: 1em;
	overflow: auto;
	text-align: center;
	width: 100%;
}
.removeAttachmentElementButton{
	border-radius: 1em;
	position: absolute;
	top: -1em;
	right: -1em;
	border-width: 0;
	background-color: #9F4159;
	color:#fcfcfc;
	padding: 0.5em;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}
.removeAttachmentElementButton:hover{
	color:#fff;
}
.attachmentElement{
	width: 20%;
	min-height: 9em;
	margin: 2%;
	float: left;
	position: relative;
	border: 2px #fcfcfc solid;
	border-radius: 6px;
	padding: 0%;
	background-size: contain !important;
}
.attachmentElement > img{
	max-width: 100%
}
.sitePreviewContainerElement{
	float:left;
}
.sitePreviewElement{
	position: absolute;
	max-width: 25%;
	z-index: 3;
	padding: 1%;
	background-color: #eee;
	border: solid #428bca 1px;
	border-radius: 4px;
}/*
*/
.sitePreviewImage{
	max-width: 45%;
	float: left;
	margin: 4%;
}
.sitePreviewTitle{
	width:43%;
	margin: 2%;
	float: right;
	font-weight: bold;
}
.sitePreviewDescription{
	opacity: 0.9;
	font-size: 0.8em;
}
.youtubePreviewPicture{
	border-bottom: solid #a22 4px;
}
.settingsPanel{
	display: none;
	position: absolute;
	list-style-type: none;
	z-index: 6;
	color:#666;
	position: absolute;
	top: 100%;
	float: left;
	padding: 4px 0;
	margin: 2px 0 0;
	background-color: #fff;
	border-color: #999;
	border-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	background-clip: padding-box;
}
.settingsPanel>li{
	width: 100%;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.settingsPanel:first-child{
	margin-top:0em;
}
.settingsPanel>li:hover{
	color:#1E2128;
	background-color: rgba(200,200,255,1);
}
.settingsPanel:after, .settingsPanel:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	right: 50%;
	position: absolute;
	width: 0;
}

.settingsPanel:after {
	border-width: 7px;
	border-bottom-color: #fcfcfc;
	right: 46px;
	top: -13px;
}

.settingsPanel:before {
	border-width: 8px;
	border-bottom-color: rgba(0,0,0,0.2);
	top: -17px;
	right: 45px;
}
.welcomeVideo{
	width: 100%;
}

.expandedPost{
	border-top: 1px solid #ddd;
	border-radius: 6px;
	/*font-size: 1.1em;*/
	padding:0;
}

.expandedPost+.post{
	border-top-width:1px; 
}
.answersToContainer>div,.answersFromContainer>div{
	background-color: #f6f6ff;
	padding: 0.1em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	margin:0;
}
.answersToContainer>div,.answersFromContainer>div,.expandedPost>.post{
	border-width:0;
	border-radius: 0 !important;
}
.answersToContainer>div{
	border-bottom-width: 1px;
}
.answersToContainer .postImage, .answersFromContainer .postImage{
	width:20%;
	height: 7em;
}
.answersFromContainer>div{
	border-top-width: 1px;
}
.answersFromContainer,.answersToContainer{
overflow: hidden;
}
.answersFromContainer,.answersToContainer{
overflow: hidden;
}
.threadNav{
	position: fixed;
	top:46px;
	overflow: auto;
	font-size: 2.5em;
	width: 3em;
	height: 100%;
	padding-left: 0.1em;
}
.threadNav > a{
	color:#fff;
	text-shadow: #666 0px 0px 1px;
	height: 2em;
	width: 2em;
	text-align: center;
	z-index: 4;
	padding: 0.5em;
	float: left;
}
.backToThreads:hover>span,.nextPage:hover,.previousPage:hover,.leftToBottomLink:hover,.rightToBottomLink:hover{
	background-color: rgba(171,214,233,0.5);
	border-radius: 50%;
}
.backToThreads:hover>span{
	border-radius: 0;
}
.tag{
    color:#CEA337;
}
.newThreadInnerWrapper{
	width: 532px;
	margin: 0 auto;
}
.newThreadOutterWrapper{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.85);
	display: none;
}
#composeThread{
	padding: 5px 10px;
	line-height: 18px;
	color: #fff;
	margin-top: 5px;
	background-color: #61c3ab;
	border-color: #51b39b;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#composeThread:hover{
	background-color: #71d3bb;
	border-color: #61c3ab;
}
.linksPanel>a{
	color:#bbb;
	text-decoration:none;
}
.linksPanel>a:hover{
	color:#ccc;
	text-decoration:none;
}
.linksPanel{
	color:#bbb;
}