body{
	font-family: terminal;
	background-color: #1b1b1b;
  color: #aaffc3;
  background-image: url('../images/terminal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@font-face
{
font-family: terminal;
src: url(fonts/Terminal.ttf);
}
button,input{
  border-color: #aaffc3 !important;
  background-color: rgba(0,0,0,0) !important;
  color:#eee !important;
}
.preview{
	color:#aaffc3;
}
.hiddenText{
	background-color: #aaffc3;
  color:#aaffc3 !important;
}
.topNavWrap{
  background-color: initial;
  border:none;
}
.topNav{
    border: 1px solid #aaffc3;
    border-top-width: 0;
    background-color: #285737;
    border-radius: 0;
}
.topNav > a {
  color:#aaffc3  !important;
}
.topNav >a:hover{
  text-shadow: 1px 1px 10px #aaffc3;
}
.metaContainer,.threadFooter,.formOutterContainer{
  	border-color: #aaffc3;
		background-color: rgba(0,0,0,0);
	 
}

.container,.popularTagsPanel,.linksPanel,.threadFooter,.threadsFooter{
	background-color: rgba(0,0,0,0);
  	border-color:  #aaffc3;
}

.post,.formContainer,.answersToContainer>div,.answersFromContainer>div,.expandedPost{
  	border-color: #aaffc3;
  	background-color: rgba(0,0,0,0);

}
.threadOpPost{
  	background-color: rgba(0,0,0,0);
  	border-color: #aaffc3;
}
.threadOpPost:hover{
  background-color: rgba(255,255,255,0.1);
}
.threadOpPost > div > p{
	color:#aaffc3;
}
textarea{
	border-color: #aaffc3;
  	background-color: rgba(0,0,0,0);
  	color:#aaffc3;
}
textarea:focus{
  background-color: #000;
}
.backToThreads,.nextPage,.previousPage,.rightToBottomLink,.leftToBottomLink{
}
.tagElement{
  background-color: rgba(0,0,0,0) !important;
  border-color: #aaffc3;
  color: #aaffc3;
  border-bottom-left-radius: 0 !important;
}
.expandedPost{
  border-color: #aaffc3;
}
.expandedPost+.post{
  border-color: #aaffc3;
}
.threadNav>a,.backToThreads{
  color:#aaffc3 !important;
}
.threadNav>a:hover,.backToThreads:hover{
  background-color:rgba(0,0,0,0) !important; 
  text-shadow: 1px 1px 21px #aaffc3;
}
.answersToContainer>div,.answersFromContainer>div{
  background-color: rgba(0,0,0,0);
}
.postImage,.threadImage{
  border-color: #aaffc3;
}
.tag{
  color:#eee;
}
.searchElement > button {
margin-left: -3em;
}
.youtubePreviewPicture{
  border-bottom-color:#f66;
}
.preview{
  background-color: rgba(0,0,0,0.9);
}